.example- {

    &set-header {
	margin-top: 5%;
	margin-left: 20%;
    }
    
    &set {
	margin-top: %;
        margin-left: 20%;
	margin-right: 20%;
    }

    &group {
        display: flex;
        margin: 1rem;
        width: 100%;
    }

    &input-group {
        width: 50%;
    }

    &code-group {
        width: 50%;
        margin-left: 1rem;
    }

    &code--code {
        background: #ffeff0;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
        width: 100%;
        height: 2rem;
        text-align: center;

    }

    &label {
        font-weight: san-serif;
        display: block;
        padding-bottom: .25rem;
    }
}
